section {
    background: none !important;
    height: 100vh;
}

section > * {
    width: 100vw !important;
}

header {
    height: 8%;
}

main {
    display: flex;
    flex-direction: column;
    height: 90%;
    font-size: calc(10px + 2vmin);
    color: white;
    
}

main:not(.container) {
    align-items: center;
    justify-content: center;
}

main.container {
    width: 100%;
    height: 100%;
}

.container  {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    display: flex;
    justify-content: space-between;
    height: 2% !important;
    padding: 0px 10px !important;
    background: rgba(255,255,255,0.5) !important;
    text-align: center;
    font-size: smaller;
}

.ant-page-header {
    font-size: calc(10px + 1.5vmin);
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background: rgba(0,0,0,0);
}

.ant-page-header-content {
    padding-top: 0px;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 12px;
}
.ant-layout-header .anticon {
    color: white;
}

.ant-page-footer {
    padding: 10px;
}

.invisible {
    opacity: 0;
}

.dropdown {
    left: 0px;
}
.clickable {
  cursor: pointer;
  font-size: 20px;
}


/* dark theme */
.dark {
    background: #282c34 !important;
    color: white !important;
}

@keyframes exapand {
    from { 
        width:  500px;
        height: 500px;
    } to {
        width: 100%;
        height: 100%;
    }
}
